<%= form_for(@potion) do |f| %>
  <% if @potion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@potion.errors.count, "error") %> prohibited this potion from being saved:</h2>

      <ul>
      <% @potion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
