<%= form_for(@quiver_type) do |f| %>
  <% if @quiver_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiver_type.errors.count, "error") %> prohibited this quiver_type from being saved:</h2>

      <ul>
      <% @quiver_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
