<%= form_for(@skilltome) do |f| %>
  <% if @skilltome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skilltome.errors.count, "error") %> prohibited this skilltome from being saved:</h2>

      <ul>
      <% @skilltome.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
