<%= form_for(@shard) do |f| %>
  <% if @shard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shard.errors.count, "error") %> prohibited this shard from being saved:</h2>

      <ul>
      <% @shard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
