<%= form_for(@resurrection_scroll) do |f| %>
  <% if @resurrection_scroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resurrection_scroll.errors.count, "error") %> prohibited this resurrection_scroll from being saved:</h2>

      <ul>
      <% @resurrection_scroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
