<%= form_for(@chi_stone) do |f| %>
  <% if @chi_stone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chi_stone.errors.count, "error") %> prohibited this chi_stone from being saved:</h2>

      <ul>
      <% @chi_stone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
