<%= form_for(@defense_charm) do |f| %>
  <% if @defense_charm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@defense_charm.errors.count, "error") %> prohibited this defense_charm from being saved:</h2>

      <ul>
      <% @defense_charm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
