<%= form_for(@quiver) do |f| %>
  <% if @quiver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiver.errors.count, "error") %> prohibited this quiver from being saved:</h2>

      <ul>
      <% @quiver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
